body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #4b4a4a;
    background-color: #ffffff;
}

.about-title {
    margin-left: 0.2%;
    padding: 0.4em;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 10% 5%;
    padding: 0.5em;
}

.left {
   
    #about-img {
        // margin: 10% 15% 5%;
        // box-shadow: 10px -10px 10px #bcc0c98a;
        width: 140%;
        border-radius: 10px;
    }
}

i {
    color: rgb(72, 72, 72);
    padding: 1em;
    font-size: 1.6em;
    &:hover {
      color: #345395;
    }
  }

.contact-icons {
    display: flex;
    flex-direction: row;
    margin-left: 40%;
}


.intro-blurb {
    font-size: 1.4em;
    padding: 5%;
    margin: 10% 15% 15%;
}

.fixed-bottom {
    padding: 0.5em;
}
