body {
  background-color: #cedaca;
  font-family: "Poppins", sans-serif;
}

input {
  width: 200px; 
  text-emphasis: bold;
}
.contact {
  display: flex;
  flex-direction: column;
}

.contact-body {
  display: flex;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
}

h1 {
  margin: -10px;
  font-weight: 900;
}

.email-form {
  background-color: white;
  border-radius: 20px;
  width: 80%;
  height: 90%;
  padding: 2rem;
  margin: 10rem;
}

i {
  color: white;
  padding: 1.7%;
  &:hover {
    color: #726557;
  }
}

.contact-icons {
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
